@import "./common/colors.scss";
@import "./bar/bar.scss";
// bar widget css files
@import "./bar/widgets/time/time.scss";
@import "./bar/widgets/battery/battery.scss";
@import "./bar/widgets/brightness/brightness.scss";
@import "./bar/widgets/workspaces/workspaces.scss";
@import "./bar/widgets/launcher/launcher.scss";
@import "./bar/widgets/audio/audio.scss";
// css for other windows
@import "./common/utils/closer.scss";
@import "./powermenu/powermenu.scss";

* {
    all: unset;
    font-family: "FiraCode Nerd Font";
    transition: all 100ms ease-in;
}
