.workspaces {
    padding: 8px 16px;
    background-color: $bg-darkish;
    border-radius: 8px;
}

.workspace-item {
    font-size: 28px;
    color: $bg-dark;
    &.occupied {
        color: $fg-light;
    }
    &.active, &:hover {
        color: $fg-alt;
    }
}
